BEGIN TRANSACTION;CREATE TABLE "auth_group" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(150) NOT NULL UNIQUE);CREATE TABLE "auth_group_permissions" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "group_id" integer NOT NULL REFERENCES "auth_group" ("id") DEFERRABLE INITIALLY DEFERRED, "permission_id" integer NOT NULL REFERENCES "auth_permission" ("id") DEFERRABLE INITIALLY DEFERRED);CREATE TABLE "auth_permission" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "content_type_id" integer NOT NULL REFERENCES "django_content_type" ("id") DEFERRABLE INITIALLY DEFERRED, "codename" varchar(100) NOT NULL, "name" varchar(255) NOT NULL);INSERT INTO "auth_permission" VALUES(1,1,'add_logentry','Can add log entry');INSERT INTO "auth_permission" VALUES(2,1,'change_logentry','Can change log entry');INSERT INTO "auth_permission" VALUES(3,1,'delete_logentry','Can delete log entry');INSERT INTO "auth_permission" VALUES(4,1,'view_logentry','Can view log entry');INSERT INTO "auth_permission" VALUES(5,2,'add_permission','Can add permission');INSERT INTO "auth_permission" VALUES(6,2,'change_permission','Can change permission');INSERT INTO "auth_permission" VALUES(7,2,'delete_permission','Can delete permission');INSERT INTO "auth_permission" VALUES(8,2,'view_permission','Can view permission');INSERT INTO "auth_permission" VALUES(9,3,'add_group','Can add group');INSERT INTO "auth_permission" VALUES(10,3,'change_group','Can change group');INSERT INTO "auth_permission" VALUES(11,3,'delete_group','Can delete group');INSERT INTO "auth_permission" VALUES(12,3,'view_group','Can view group');INSERT INTO "auth_permission" VALUES(13,4,'add_contenttype','Can add content type');INSERT INTO "auth_permission" VALUES(14,4,'change_contenttype','Can change content type');INSERT INTO "auth_permission" VALUES(15,4,'delete_contenttype','Can delete content type');INSERT INTO "auth_permission" VALUES(16,4,'view_contenttype','Can view content type');INSERT INTO "auth_permission" VALUES(17,5,'add_session','Can add session');INSERT INTO "auth_permission" VALUES(18,5,'change_session','Can change session');INSERT INTO "auth_permission" VALUES(19,5,'delete_session','Can delete session');INSERT INTO "auth_permission" VALUES(20,5,'view_session','Can view session');INSERT INTO "auth_permission" VALUES(21,6,'add_usuario','Can add Usuario');INSERT INTO "auth_permission" VALUES(22,6,'change_usuario','Can change Usuario');INSERT INTO "auth_permission" VALUES(23,6,'delete_usuario','Can delete Usuario');INSERT INTO "auth_permission" VALUES(24,6,'view_usuario','Can view Usuario');INSERT INTO "auth_permission" VALUES(25,7,'add_calificacion','Can add calificacion');INSERT INTO "auth_permission" VALUES(26,7,'change_calificacion','Can change calificacion');INSERT INTO "auth_permission" VALUES(27,7,'delete_calificacion','Can delete calificacion');INSERT INTO "auth_permission" VALUES(28,7,'view_calificacion','Can view calificacion');INSERT INTO "auth_permission" VALUES(29,8,'add_docente','Can add docente');INSERT INTO "auth_permission" VALUES(30,8,'change_docente','Can change docente');INSERT INTO "auth_permission" VALUES(31,8,'delete_docente','Can delete docente');INSERT INTO "auth_permission" VALUES(32,8,'view_docente','Can view docente');INSERT INTO "auth_permission" VALUES(33,9,'add_espacio','Can add espacio');INSERT INTO "auth_permission" VALUES(34,9,'change_espacio','Can change espacio');INSERT INTO "auth_permission" VALUES(35,9,'delete_espacio','Can delete espacio');INSERT INTO "auth_permission" VALUES(36,9,'view_espacio','Can view espacio');INSERT INTO "auth_permission" VALUES(37,10,'add_estudiante','Can add estudiante');INSERT INTO "auth_permission" VALUES(38,10,'change_estudiante','Can change estudiante');INSERT INTO "auth_permission" VALUES(39,10,'delete_estudiante','Can delete estudiante');INSERT INTO "auth_permission" VALUES(40,10,'view_estudiante','Can view estudiante');INSERT INTO "auth_permission" VALUES(41,11,'add_tarea','Can add tarea');INSERT INTO "auth_permission" VALUES(42,11,'change_tarea','Can change tarea');INSERT INTO "auth_permission" VALUES(43,11,'delete_tarea','Can delete tarea');INSERT INTO "auth_permission" VALUES(44,11,'view_tarea','Can view tarea');INSERT INTO "auth_permission" VALUES(45,12,'add_retroalimentacion','Can add retroalimentacion');INSERT INTO "auth_permission" VALUES(46,12,'change_retroalimentacion','Can change retroalimentacion');INSERT INTO "auth_permission" VALUES(47,12,'delete_retroalimentacion','Can delete retroalimentacion');INSERT INTO "auth_permission" VALUES(48,12,'view_retroalimentacion','Can view retroalimentacion');INSERT INTO "auth_permission" VALUES(49,13,'add_progresoacademico','Can add progreso academico');INSERT INTO "auth_permission" VALUES(50,13,'change_progresoacademico','Can change progreso academico');INSERT INTO "auth_permission" VALUES(51,13,'delete_progresoacademico','Can delete progreso academico');INSERT INTO "auth_permission" VALUES(52,13,'view_progresoacademico','Can view progreso academico');INSERT INTO "auth_permission" VALUES(53,14,'add_notificacion','Can add notificacion');INSERT INTO "auth_permission" VALUES(54,14,'change_notificacion','Can change notificacion');INSERT INTO "auth_permission" VALUES(55,14,'delete_notificacion','Can delete notificacion');INSERT INTO "auth_permission" VALUES(56,14,'view_notificacion','Can view notificacion');INSERT INTO "auth_permission" VALUES(57,15,'add_material','Can add material');INSERT INTO "auth_permission" VALUES(58,15,'change_material','Can change material');INSERT INTO "auth_permission" VALUES(59,15,'delete_material','Can delete material');INSERT INTO "auth_permission" VALUES(60,15,'view_material','Can view material');INSERT INTO "auth_permission" VALUES(61,16,'add_entrega','Can add entrega');INSERT INTO "auth_permission" VALUES(62,16,'change_entrega','Can change entrega');INSERT INTO "auth_permission" VALUES(63,16,'delete_entrega','Can delete entrega');INSERT INTO "auth_permission" VALUES(64,16,'view_entrega','Can view entrega');INSERT INTO "auth_permission" VALUES(65,17,'add_miembroespacio','Can add miembro espacio');INSERT INTO "auth_permission" VALUES(66,17,'change_miembroespacio','Can change miembro espacio');INSERT INTO "auth_permission" VALUES(67,17,'delete_miembroespacio','Can delete miembro espacio');INSERT INTO "auth_permission" VALUES(68,17,'view_miembroespacio','Can view miembro espacio');INSERT INTO "auth_permission" VALUES(69,18,'add_colegio','Can add colegio');INSERT INTO "auth_permission" VALUES(70,18,'change_colegio','Can change colegio');INSERT INTO "auth_permission" VALUES(71,18,'delete_colegio','Can delete colegio');INSERT INTO "auth_permission" VALUES(72,18,'view_colegio','Can view colegio');INSERT INTO "auth_permission" VALUES(73,19,'add_curso','Can add curso');INSERT INTO "auth_permission" VALUES(74,19,'change_curso','Can change curso');INSERT INTO "auth_permission" VALUES(75,19,'delete_curso','Can delete curso');INSERT INTO "auth_permission" VALUES(76,19,'view_curso','Can view curso');INSERT INTO "auth_permission" VALUES(77,20,'add_rubrica','Can add rubrica');INSERT INTO "auth_permission" VALUES(78,20,'change_rubrica','Can change rubrica');INSERT INTO "auth_permission" VALUES(79,20,'delete_rubrica','Can delete rubrica');INSERT INTO "auth_permission" VALUES(80,20,'view_rubrica','Can view rubrica');INSERT INTO "auth_permission" VALUES(81,21,'add_materia','Can add materia');INSERT INTO "auth_permission" VALUES(82,21,'change_materia','Can change materia');INSERT INTO "auth_permission" VALUES(83,21,'delete_materia','Can delete materia');INSERT INTO "auth_permission" VALUES(84,21,'view_materia','Can view materia');INSERT INTO "auth_permission" VALUES(85,22,'add_invitacion','Can add invitacion');INSERT INTO "auth_permission" VALUES(86,22,'change_invitacion','Can change invitacion');INSERT INTO "auth_permission" VALUES(87,22,'delete_invitacion','Can delete invitacion');INSERT INTO "auth_permission" VALUES(88,22,'view_invitacion','Can view invitacion');INSERT INTO "auth_permission" VALUES(89,23,'add_historialcalificacion','Can add historial calificacion');INSERT INTO "auth_permission" VALUES(90,23,'change_historialcalificacion','Can change historial calificacion');INSERT INTO "auth_permission" VALUES(91,23,'delete_historialcalificacion','Can delete historial calificacion');INSERT INTO "auth_permission" VALUES(92,23,'view_historialcalificacion','Can view historial calificacion');INSERT INTO "auth_permission" VALUES(93,24,'add_criteriorubrica','Can add criterio rubrica');INSERT INTO "auth_permission" VALUES(94,24,'change_criteriorubrica','Can change criterio rubrica');INSERT INTO "auth_permission" VALUES(95,24,'delete_criteriorubrica','Can delete criterio rubrica');INSERT INTO "auth_permission" VALUES(96,24,'view_criteriorubrica','Can view criterio rubrica');INSERT INTO "auth_permission" VALUES(97,25,'add_estudiantecurso','Can add estudiante curso');INSERT INTO "auth_permission" VALUES(98,25,'change_estudiantecurso','Can change estudiante curso');INSERT INTO "auth_permission" VALUES(99,25,'delete_estudiantecurso','Can delete estudiante curso');INSERT INTO "auth_permission" VALUES(100,25,'view_estudiantecurso','Can view estudiante curso');INSERT INTO "auth_permission" VALUES(101,26,'add_docentecolegio','Can add docente colegio');INSERT INTO "auth_permission" VALUES(102,26,'change_docentecolegio','Can change docente colegio');INSERT INTO "auth_permission" VALUES(103,26,'delete_docentecolegio','Can delete docente colegio');INSERT INTO "auth_permission" VALUES(104,26,'view_docentecolegio','Can view docente colegio');INSERT INTO "auth_permission" VALUES(105,27,'add_invitacionespacio','Can add invitacion espacio');INSERT INTO "auth_permission" VALUES(106,27,'change_invitacionespacio','Can change invitacion espacio');INSERT INTO "auth_permission" VALUES(107,27,'delete_invitacionespacio','Can delete invitacion espacio');INSERT INTO "auth_permission" VALUES(108,27,'view_invitacionespacio','Can view invitacion espacio');INSERT INTO "auth_permission" VALUES(109,28,'add_event','Can add event');INSERT INTO "auth_permission" VALUES(110,28,'change_event','Can change event');INSERT INTO "auth_permission" VALUES(111,28,'delete_event','Can delete event');INSERT INTO "auth_permission" VALUES(112,28,'view_event','Can view event');INSERT INTO "auth_permission" VALUES(113,29,'add_badge','Can add badge');INSERT INTO "auth_permission" VALUES(114,29,'change_badge','Can change badge');INSERT INTO "auth_permission" VALUES(115,29,'delete_badge','Can delete badge');INSERT INTO "auth_permission" VALUES(116,29,'view_badge','Can view badge');INSERT INTO "auth_permission" VALUES(117,30,'add_userbadge','Can add user badge');INSERT INTO "auth_permission" VALUES(118,30,'change_userbadge','Can change user badge');INSERT INTO "auth_permission" VALUES(119,30,'delete_userbadge','Can delete user badge');INSERT INTO "auth_permission" VALUES(120,30,'view_userbadge','Can view user badge');INSERT INTO "auth_permission" VALUES(121,31,'add_userchallenge','Can add user challenge');INSERT INTO "auth_permission" VALUES(122,31,'change_userchallenge','Can change user challenge');INSERT INTO "auth_permission" VALUES(123,31,'delete_userchallenge','Can delete user challenge');INSERT INTO "auth_permission" VALUES(124,31,'view_userchallenge','Can view user challenge');INSERT INTO "auth_permission" VALUES(125,32,'add_cointransaction','Can add coin transaction');INSERT INTO "auth_permission" VALUES(126,32,'change_cointransaction','Can change coin transaction');INSERT INTO "auth_permission" VALUES(127,32,'delete_cointransaction','Can delete coin transaction');INSERT INTO "auth_permission" VALUES(128,32,'view_cointransaction','Can view coin transaction');INSERT INTO "auth_permission" VALUES(129,33,'add_challenge','Can add challenge');INSERT INTO "auth_permission" VALUES(130,33,'change_challenge','Can change challenge');INSERT INTO "auth_permission" VALUES(131,33,'delete_challenge','Can delete challenge');INSERT INTO "auth_permission" VALUES(132,33,'view_challenge','Can view challenge');CREATE TABLE "badges" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "nombre" varchar(100) NOT NULL, "descripcion" text NOT NULL, "icono_url" varchar(500) NOT NULL, "puntos_requeridos" integer NOT NULL, "codigo" varchar(50) NOT NULL UNIQUE);CREATE TABLE "calificaciones" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "nota" real NOT NULL, "fecha_calificacion" datetime NOT NULL, "docente_id" bigint NOT NULL REFERENCES "core_docente" ("id") DEFERRABLE INITIALLY DEFERRED, "entrega_id" bigint NOT NULL UNIQUE REFERENCES "entregas" ("id") DEFERRABLE INITIALLY DEFERRED);INSERT INTO "calificaciones" VALUES(1,85.0,'2026-09-25 03:31:31.679508',1,1);INSERT INTO "calificaciones" VALUES(2,90.0,'2026-09-25 01:56:31.679508',1,2);INSERT INTO "calificaciones" VALUES(3,92.0,'2026-09-24 03:56:31.679508',2,3);CREATE TABLE "challenges" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "titulo" varchar(150) NOT NULL, "descripcion" text NOT NULL, "recompensa_puntos" integer NOT NULL, "recompensa_coins" integer NOT NULL, "activo" bool NOT NULL, "fecha_limite" datetime NULL);INSERT INTO "challenges" VALUES(1,'Primera Sangre','Entrega tu primera tarea a tiempo.',15,10,1,NULL);INSERT INTO "challenges" VALUES(2,'Estudiante Estrella','ObtÚn 100/100 en 3 tareas consecutivas.',50,30,1,NULL);INSERT INTO "challenges" VALUES(3,'Participaci¾n Activa','┌nete a 2 espacios acadÚmicos nuevos.',20,5,1,NULL);CREATE TABLE "coin_transactions" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "cantidad" integer NOT NULL, "razon" varchar(200) NOT NULL, "fecha" datetime NOT NULL, "usuario_id" bigint NOT NULL REFERENCES "usuarios" ("id") DEFERRABLE INITIALLY DEFERRED);CREATE TABLE "colegios" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "nombre" varchar(200) NOT NULL, "ciudad" varchar(100) NOT NULL, "pais" varchar(100) NOT NULL, "direccion" varchar(300) NOT NULL, "telefono" varchar(30) NOT NULL, "logo_url" varchar(500) NOT NULL, "color" varchar(30) NOT NULL, "fecha_creacion" datetime NOT NULL);INSERT INTO "colegios" VALUES(1,'U.E. FRACIA B','la paz','Bolivia','centro','00033344','','#1E3A8A','2026-09-25 06:16:17.450696');INSERT INTO "colegios" VALUES(2,'Don Bosco','La paz','Bolivia','Prado','00001112','','#1E3A8A','2026-09-26 00:38:33.645417');CREATE TABLE "core_docente" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "titulo_academico" varchar(150) NOT NULL, "biografia" text NOT NULL, "usuario_id" bigint NOT NULL UNIQUE REFERENCES "usuarios" ("id") DEFERRABLE INITIALLY DEFERRED, "especialidad" varchar(150) NOT NULL);INSERT INTO "core_docente" VALUES(1,'Ph.D. en Sistemas de Informaci¾n','Docente titular de Bases de Datos I y Anßlisis y Dise±o de Sistemas.',1,'Bases de Datos y Arquitectura de Software');INSERT INTO "core_docente" VALUES(2,'MagÝster en Ciencias de la Computaci¾n','Especialista en Programaci¾n, Optimizaci¾n e Investigaci¾n Operativa.',2,'IngenierÝa de Software y AlgorÝtmica');INSERT INTO "core_docente" VALUES(3,'Docente Titular','Docente de materias de computacion.',6,'Matematicas ');CREATE TABLE "core_estudiante" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "biografia" text NOT NULL, "usuario_id" bigint NOT NULL UNIQUE REFERENCES "usuarios" ("id") DEFERRABLE INITIALLY DEFERRED, "carrera_o_area" varchar(150) NOT NULL);INSERT INTO "core_estudiante" VALUES(1,'Estudiante enfocado en el desarrollo de software y bases de datos.',3,'IngenierÝa de Sistemas e Informßtica');INSERT INTO "core_estudiante" VALUES(2,'Estudiante enfocado en el desarrollo de software y bases de datos.',4,'IngenierÝa de Sistemas e Informßtica');INSERT INTO "core_estudiante" VALUES(3,'Estudiante enfocado en el desarrollo de software y bases de datos.',5,'IngenierÝa de Software');CREATE TABLE "criterios_rubrica" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "nombre" varchar(200) NOT NULL, "descripcion" text NOT NULL, "puntaje_maximo" integer NOT NULL, "orden" integer NOT NULL, "rubrica_id" bigint NOT NULL REFERENCES "rubricas" ("id") DEFERRABLE INITIALLY DEFERRED);CREATE TABLE "cursos" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "nombre" varchar(100) NOT NULL, "grado" varchar(50) NOT NULL, "paralelo" varchar(10) NOT NULL, "nivel" varchar(100) NOT NULL, "anio_lectivo" varchar(20) NOT NULL, "activo" bool NOT NULL, "fecha_creacion" datetime NOT NULL, "colegio_id" bigint NOT NULL REFERENCES "colegios" ("id") DEFERRABLE INITIALLY DEFERRED);INSERT INTO "cursos" VALUES(1,'3ro  segundaria  "B"','3ro  segundaria','B','Bachillerato','2026',1,'2026-09-25 06:23:32.570369',1);INSERT INTO "cursos" VALUES(2,'6to "A"','6to','A','Bachillerato','2026',1,'2026-09-26 00:39:22.859830',2);CREATE TABLE "django_admin_log" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "object_id" text NULL, "object_repr" varchar(200) NOT NULL, "action_flag" smallint unsigned NOT NULL CHECK ("action_flag" >= 0), "change_message" text NOT NULL, "content_type_id" integer NULL REFERENCES "django_content_type" ("id") DEFERRABLE INITIALLY DEFERRED, "user_id" bigint NOT NULL REFERENCES "usuarios" ("id") DEFERRABLE INITIALLY DEFERRED, "action_time" datetime NOT NULL);CREATE TABLE "django_content_type" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "app_label" varchar(100) NOT NULL, "model" varchar(100) NOT NULL);INSERT INTO "django_content_type" VALUES(1,'admin','logentry');INSERT INTO "django_content_type" VALUES(2,'auth','permission');INSERT INTO "django_content_type" VALUES(3,'auth','group');INSERT INTO "django_content_type" VALUES(4,'contenttypes','contenttype');INSERT INTO "django_content_type" VALUES(5,'sessions','session');INSERT INTO "django_content_type" VALUES(6,'core','usuario');INSERT INTO "django_content_type" VALUES(7,'core','calificacion');INSERT INTO "django_content_type" VALUES(8,'core','docente');INSERT INTO "django_content_type" VALUES(9,'core','espacio');INSERT INTO "django_content_type" VALUES(10,'core','estudiante');INSERT INTO "django_content_type" VALUES(11,'core','tarea');INSERT INTO "django_content_type" VALUES(12,'core','retroalimentacion');INSERT INTO "django_content_type" VALUES(13,'core','progresoacademico');INSERT INTO "django_content_type" VALUES(14,'core','notificacion');INSERT INTO "django_content_type" VALUES(15,'core','material');INSERT INTO "django_content_type" VALUES(16,'core','entrega');INSERT INTO "django_content_type" VALUES(17,'core','miembroespacio');INSERT INTO "django_content_type" VALUES(18,'core','colegio');INSERT INTO "django_content_type" VALUES(19,'core','curso');INSERT INTO "django_content_type" VALUES(20,'core','rubrica');INSERT INTO "django_content_type" VALUES(21,'core','materia');INSERT INTO "django_content_type" VALUES(22,'core','invitacion');INSERT INTO "django_content_type" VALUES(23,'core','historialcalificacion');INSERT INTO "django_content_type" VALUES(24,'core','criteriorubrica');INSERT INTO "django_content_type" VALUES(25,'core','estudiantecurso');INSERT INTO "django_content_type" VALUES(26,'core','docentecolegio');INSERT INTO "django_content_type" VALUES(27,'core','invitacionespacio');INSERT INTO "django_content_type" VALUES(28,'core','event');INSERT INTO "django_content_type" VALUES(29,'core','badge');INSERT INTO "django_content_type" VALUES(30,'core','userbadge');INSERT INTO "django_content_type" VALUES(31,'core','userchallenge');INSERT INTO "django_content_type" VALUES(32,'core','cointransaction');INSERT INTO "django_content_type" VALUES(33,'core','challenge');CREATE TABLE "django_migrations" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "app" varchar(255) NOT NULL, "name" varchar(255) NOT NULL, "applied" datetime NOT NULL);INSERT INTO "django_migrations" VALUES(1,'contenttypes','0001_initial','2026-09-25 03:56:28.781844');INSERT INTO "django_migrations" VALUES(2,'contenttypes','0002_remove_content_type_name','2026-09-25 03:56:28.793789');INSERT INTO "django_migrations" VALUES(3,'auth','0001_initial','2026-09-25 03:56:28.813177');INSERT INTO "django_migrations" VALUES(4,'auth','0002_alter_permission_name_max_length','2026-09-25 03:56:28.825569');INSERT INTO "django_migrations" VALUES(5,'auth','0003_alter_user_email_max_length','2026-09-25 03:56:28.838939');INSERT INTO "django_migrations" VALUES(6,'auth','0004_alter_user_username_opts','2026-09-25 03:56:28.848414');INSERT INTO "django_migrations" VALUES(7,'auth','0005_alter_user_last_login_null','2026-09-25 03:56:28.863255');INSERT INTO "django_migrations" VALUES(8,'auth','0006_require_contenttypes_0002','2026-09-25 03:56:28.869214');INSERT INTO "django_migrations" VALUES(9,'auth','0007_alter_validators_add_error_messages','2026-09-25 03:56:28.881473');INSERT INTO "django_migrations" VALUES(10,'auth','0008_alter_user_username_max_length','2026-09-25 03:56:28.892892');INSERT INTO "django_migrations" VALUES(11,'auth','0009_alter_user_last_name_max_length','2026-09-25 03:56:28.903344');INSERT INTO "django_migrations" VALUES(12,'auth','0010_alter_group_name_max_length','2026-09-25 03:56:28.917094');INSERT INTO "django_migrations" VALUES(13,'auth','0011_update_proxy_permissions','2026-09-25 03:56:28.926406');INSERT INTO "django_migrations" VALUES(14,'auth','0012_alter_user_first_name_max_length','2026-09-25 03:56:28.935527');INSERT INTO "django_migrations" VALUES(15,'core','0001_initial','2026-09-25 03:56:29.045874');INSERT INTO "django_migrations" VALUES(16,'admin','0001_initial','2026-09-25 03:56:29.077390');INSERT INTO "django_migrations" VALUES(17,'admin','0002_logentry_remove_auto_add','2026-09-25 03:56:29.095168');INSERT INTO "django_migrations" VALUES(18,'admin','0003_logentry_add_action_flag_choices','2026-09-25 03:56:29.111021');INSERT INTO "django_migrations" VALUES(19,'sessions','0001_initial','2026-09-25 03:56:29.122091');INSERT INTO "django_migrations" VALUES(20,'core','0002_colegio_curso_entrega_archivo_material_archivo_and_more','2026-09-25 05:02:01.987756');INSERT INTO "django_migrations" VALUES(21,'core','0003_invitacionespacio','2026-09-25 05:19:56.804727');INSERT INTO "django_migrations" VALUES(22,'core','0004_invitacionespacio_fecha_expiracion','2026-09-26 00:42:41.182323');INSERT INTO "django_migrations" VALUES(23,'core','0005_usuario_coins_usuario_level_usuario_points','2026-09-26 01:36:23.819862');INSERT INTO "django_migrations" VALUES(24,'core','0006_badge_challenge_event_cointransaction_userchallenge_and_more','2026-09-26 01:37:35.949078');CREATE TABLE "django_session" ("session_key" varchar(40) NOT NULL PRIMARY KEY, "session_data" text NOT NULL, "expire_date" datetime NOT NULL);INSERT INTO "django_session" VALUES('kp71acj8cif6e8scuyqljml9criyqy8l','.eJxVjDsOwjAQBe_iGln2yl9Kes5grddrHECOFCcV4u4QKQW0b2beSyTc1pa2wUuaijgLLU6_W0Z6cN9BuWO_zZLmvi5TlrsiDzrkdS78vBzu30HD0b41m8yMiDW4qJ0GQCgqWOUAyVIEY73HoogJYrWqGp99VgoyWgMBWbw_8xc4GA:1x9yyg:jJF7Iv7w2zia3IN-gWxm4LiVhrXJ_vPi1elO7u5Wkqc','2026-10-09 06:00:10.065805');INSERT INTO "django_session" VALUES('8z10u7hc14u9u28904w3zsff6is1931t','.eJxVjDEOwjAMRe-SGUWJ08QtIztnqGzHIgWUSk07Ie4OlTrA-t97_2VG2tYybk2XccrmbII5_W5M8tC6g3yneputzHVdJra7Yg_a7HXO-rwc7t9BoVa-NUPvAbthGIQ5YBT0LvXIwOCcpATaAcYYfHTSKSlh1hgpQBbsyTvz_gC3iTcD:1xAHL4:wL4eWeOMtXS_PdDLkmu6zcDTP6WLscou69Y0oDgGZCE','2026-10-10 01:36:30.799589');INSERT INTO "django_session" VALUES('enir9zslfygv96m1spmny4d008xtp9x8','.eJxVjDsOwjAQBe_iGln2yl9Kes5grddrHECOFCcV4u4QKQW0b2beSyTc1pa2wUuaijgLLU6_W0Z6cN9BuWO_zZLmvi5TlrsiDzrkdS78vBzu30HD0b41m8yMiDW4qJ0GQCgqWOUAyVIEY73HoogJYrWqGp99VgoyWgMBWbw_8xc4GA:1xAHSe:npimpz3p5D5UP7kPnzLFgI9avPsZC2J1x_ibewJ5yk8','2026-10-10 01:44:20.442251');CREATE TABLE "docente_colegio" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "cargo" varchar(100) NOT NULL, "fecha_incorporacion" date NULL, "activo" bool NOT NULL, "colegio_id" bigint NOT NULL REFERENCES "colegios" ("id") DEFERRABLE INITIALLY DEFERRED, "docente_id" bigint NOT NULL REFERENCES "core_docente" ("id") DEFERRABLE INITIALLY DEFERRED);INSERT INTO "docente_colegio" VALUES(1,'Docente Principal',NULL,1,1,1);INSERT INTO "docente_colegio" VALUES(2,'Docente Principal',NULL,1,2,3);CREATE TABLE "entregas" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "fecha_entrega" datetime NOT NULL, "archivo_url" varchar(500) NOT NULL, "archivo_nombre" varchar(255) NOT NULL, "archivo_tamano" varchar(30) NOT NULL, "observaciones" text NOT NULL, "estado" varchar(20) NOT NULL, "estudiante_id" bigint NOT NULL REFERENCES "core_estudiante" ("id") DEFERRABLE INITIALLY DEFERRED, "tarea_id" bigint NOT NULL REFERENCES "tareas" ("id") DEFERRABLE INITIALLY DEFERRED, "archivo" varchar(100) NULL);INSERT INTO "entregas" VALUES(1,'2026-09-20 00:56:31.679508','https://edusmart.cloud/storage/entregas/carlos_gomez_modelo_er.pdf','CarlosGomez_Modelo_ER_Clinica.pdf','2.8 MB','Profesor, adjunto el diagrama con todas las entidades normalizadas y cardinalidades explicadas en el informe.','RETROALIMENTADA',1,1,NULL);INSERT INTO "entregas" VALUES(2,'2026-09-19 21:56:31.679508','https://edusmart.cloud/storage/entregas/ana_flores_modelo_er.pdf','AnaFlores_Modelo_ER.pdf','3.1 MB','Entrega completa con documentaci¾n.','RETROALIMENTADA',2,1,NULL);INSERT INTO "entregas" VALUES(3,'2026-09-22 03:56:31.679508','https://edusmart.cloud/storage/entregas/carlos_gomez_cuentas.zip','CarlosGomez_CuentasBancarias_POO.zip','4.2 MB','C¾digo fuente en Java con suite de tests JUnit.','RETROALIMENTADA',1,4,NULL);INSERT INTO "entregas" VALUES(4,'2026-09-24 13:56:31.679508','https://edusmart.cloud/storage/entregas/carlos_gomez_casos_uso.pdf','CarlosGomez_CasosUso_UML.pdf','1.9 MB','Se incluyeron los flujos alternativos y extensiones de casos de uso.','ENTREGADO',1,6,NULL);CREATE TABLE "espacios" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "nombre" varchar(150) NOT NULL, "descripcion" text NOT NULL, "codigo" varchar(20) NOT NULL UNIQUE, "color" varchar(30) NOT NULL, "icono" varchar(50) NOT NULL, "imagen_url" varchar(500) NOT NULL, "fecha_creacion" datetime NOT NULL, "docente_id" bigint NOT NULL REFERENCES "core_docente" ("id") DEFERRABLE INITIALLY DEFERRED, "colegio_id" bigint NULL REFERENCES "colegios" ("id") DEFERRABLE INITIALLY DEFERRED, "curso_id" bigint NULL REFERENCES "cursos" ("id") DEFERRABLE INITIALLY DEFERRED, "materia_id" bigint NULL REFERENCES "materias" ("id") DEFERRABLE INITIALLY DEFERRED);INSERT INTO "espacios" VALUES(1,'Base de Datos I','Materia correspondiente al modelado relacional, dise±o y desarrollo de bases de datos.','BD2026','#1E3A8A','database','https://images.unsplash.com/photo-1544383835-bda2bc66a55d?w=400','2026-09-25 03:56:31.600927',1,NULL,NULL,NULL);INSERT INTO "espacios" VALUES(2,'Programaci¾n','Fundamentos y desarrollo avanzado con POO, patrones de dise±o y estructuras eficientes.','PROG2026','#0284C7','code','https://images.unsplash.com/photo-1555066931-4365d14bab8c?w=400','2026-09-25 03:56:31.608013',2,NULL,NULL,NULL);INSERT INTO "espacios" VALUES(3,'Anßlisis y Dise±o de Sistemas','IngenierÝa de requisitos, modelado conceptual UML, arquitectura de software y metodologÝas ßgiles.','ADS2026','#4338CA','layers','https://images.unsplash.com/photo-1460925895917-afdab827c52f?w=400','2026-09-25 03:56:31.616371',1,NULL,NULL,NULL);INSERT INTO "espacios" VALUES(4,'Investigaci¾n Operativa','Modelos de programaci¾n lineal, mÚtodo simplex, teorÝa de colas y optimizaci¾n matemßtica.','IO2026','#0D9488','cpu','https://images.unsplash.com/photo-1509228468518-180dd4864904?w=400','2026-09-25 03:56:31.616371',2,NULL,NULL,NULL);INSERT INTO "espacios" VALUES(5,'','','','#1E3A8A','database','','2026-09-25 06:28:13.062327',1,NULL,NULL,1);INSERT INTO "espacios" VALUES(6,'Matematicas','','CZ82KC2N','#1E3A8A','database','','2026-09-26 00:39:33.795684',3,2,2,2);CREATE TABLE "estudiante_curso" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "codigo_ru" varchar(50) NOT NULL, "estado" varchar(20) NOT NULL, "fecha_inscripcion" date NOT NULL, "curso_id" bigint NOT NULL REFERENCES "cursos" ("id") DEFERRABLE INITIALLY DEFERRED, "estudiante_id" bigint NOT NULL REFERENCES "core_estudiante" ("id") DEFERRABLE INITIALLY DEFERRED);CREATE TABLE "events" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "nombre" varchar(150) NOT NULL, "multiplicador" real NOT NULL, "fecha_inicio" datetime NOT NULL, "fecha_fin" datetime NOT NULL);CREATE TABLE "historial_calificaciones" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "nota_anterior" real NOT NULL, "nota_nueva" real NOT NULL, "fecha_cambio" datetime NOT NULL, "motivo" text NOT NULL, "calificacion_id" bigint NOT NULL REFERENCES "calificaciones" ("id") DEFERRABLE INITIALLY DEFERRED, "docente_id" bigint NOT NULL REFERENCES "core_docente" ("id") DEFERRABLE INITIALLY DEFERRED);CREATE TABLE "invitaciones" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "email" varchar(254) NOT NULL, "nombre_completo" varchar(200) NOT NULL, "codigo_ru" varchar(50) NOT NULL, "codigo_invitacion" varchar(50) NOT NULL UNIQUE, "estado" varchar(20) NOT NULL, "fecha_creacion" datetime NOT NULL, "fecha_expiracion" datetime NULL, "curso_id" bigint NULL REFERENCES "cursos" ("id") DEFERRABLE INITIALLY DEFERRED, "docente_id" bigint NOT NULL REFERENCES "core_docente" ("id") DEFERRABLE INITIALLY DEFERRED);CREATE TABLE "invitaciones_espacio" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "codigo" varchar(20) NOT NULL UNIQUE, "estado" varchar(20) NOT NULL, "fecha_creacion" datetime NOT NULL, "fecha_actualizacion" datetime NOT NULL, "creado_por_id" bigint NOT NULL REFERENCES "core_docente" ("id") DEFERRABLE INITIALLY DEFERRED, "espacio_id" bigint NOT NULL REFERENCES "espacios" ("id") DEFERRABLE INITIALLY DEFERRED, "fecha_expiracion" datetime NULL);INSERT INTO "invitaciones_espacio" VALUES(1,'EDU-97F9-9BJF','ACTIVO','2026-09-25 05:31:51.122061','2026-09-25 05:31:51.122061',1,3,NULL);INSERT INTO "invitaciones_espacio" VALUES(2,'L-VQ0U-W0V1','DESACTIVADO','2026-09-25 06:31:29.995880','2026-09-25 06:31:29.995880',1,5,NULL);INSERT INTO "invitaciones_espacio" VALUES(3,'L-IIM6-WR1S','ACTIVO','2026-09-25 23:28:31.864153','2026-09-25 23:28:31.864153',1,5,NULL);INSERT INTO "invitaciones_espacio" VALUES(4,'M-8467-3Q4A','DESACTIVADO','2026-09-26 00:39:33.846061','2026-09-26 00:39:33.846061',3,6,NULL);INSERT INTO "invitaciones_espacio" VALUES(5,'M-CWTY-2V7R','ACTIVO','2026-09-26 00:39:49.611349','2026-09-26 00:39:49.611349',3,6,NULL);CREATE TABLE "materiales" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "nombre" varchar(150) NOT NULL, "tipo" varchar(30) NOT NULL, "archivo_url" varchar(500) NOT NULL, "tamano" varchar(30) NOT NULL, "tarea_id" bigint NOT NULL REFERENCES "tareas" ("id") DEFERRABLE INITIALLY DEFERRED, "archivo" varchar(100) NULL);INSERT INTO "materiales" VALUES(1,'Guia_Caso_Clinica_ER.pdf','PDF','https://edusmart.cloud/resources/bd/guia_er.pdf','1.8 MB',1,NULL);INSERT INTO "materiales" VALUES(2,'Plantilla_Normalizacion_SQL.pdf','PDF','https://edusmart.cloud/resources/bd/plantilla_ddl.pdf','2.1 MB',2,NULL);INSERT INTO "materiales" VALUES(3,'Especificacion_Cuentas_Bancarias.pdf','PDF','https://edusmart.cloud/resources/prog/cuentas_bancarias.pdf','1.4 MB',4,NULL);CREATE TABLE "materias" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "nombre" varchar(150) NOT NULL, "codigo" varchar(30) NOT NULL, "descripcion" text NOT NULL, "horas_semanales" integer NOT NULL, "color" varchar(30) NOT NULL, "activa" bool NOT NULL, "fecha_creacion" datetime NOT NULL, "curso_id" bigint NOT NULL REFERENCES "cursos" ("id") DEFERRABLE INITIALLY DEFERRED, "docente_id" bigint NOT NULL REFERENCES "core_docente" ("id") DEFERRABLE INITIALLY DEFERRED);INSERT INTO "materias" VALUES(1,'lenguaje','','',4,'#0284C7',1,'2026-09-25 06:28:13.062327',1,1);INSERT INTO "materias" VALUES(2,'Matematicas','','',4,'#0284C7',1,'2026-09-26 00:39:33.785131',2,3);CREATE TABLE "miembros_espacio" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "fecha_union" datetime NOT NULL, "espacio_id" bigint NOT NULL REFERENCES "espacios" ("id") DEFERRABLE INITIALLY DEFERRED, "estudiante_id" bigint NOT NULL REFERENCES "core_estudiante" ("id") DEFERRABLE INITIALLY DEFERRED);INSERT INTO "miembros_espacio" VALUES(1,'2026-09-25 03:56:31.628302',1,1);INSERT INTO "miembros_espacio" VALUES(2,'2026-09-25 03:56:31.634520',2,1);INSERT INTO "miembros_espacio" VALUES(3,'2026-09-25 03:56:31.634520',3,1);INSERT INTO "miembros_espacio" VALUES(4,'2026-09-25 03:56:31.634520',1,2);INSERT INTO "miembros_espacio" VALUES(5,'2026-09-25 03:56:31.648692',2,2);INSERT INTO "miembros_espacio" VALUES(6,'2026-09-25 03:56:31.655130',3,2);INSERT INTO "miembros_espacio" VALUES(7,'2026-09-25 03:56:31.663735',1,3);INSERT INTO "miembros_espacio" VALUES(8,'2026-09-25 03:56:31.665750',2,3);INSERT INTO "miembros_espacio" VALUES(9,'2026-09-25 03:56:31.665750',3,3);INSERT INTO "miembros_espacio" VALUES(10,'2026-09-25 03:56:31.679508',4,1);INSERT INTO "miembros_espacio" VALUES(11,'2026-09-25 03:56:31.679508',4,2);INSERT INTO "miembros_espacio" VALUES(12,'2026-09-25 23:29:01.833400',5,1);CREATE TABLE "notificaciones" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "tipo" varchar(30) NOT NULL, "mensaje" text NOT NULL, "fecha" datetime NOT NULL, "leida" bool NOT NULL, "espacio_id" integer NULL, "tarea_id" integer NULL, "usuario_id" bigint NOT NULL REFERENCES "usuarios" ("id") DEFERRABLE INITIALLY DEFERRED);INSERT INTO "notificaciones" VALUES(1,'CALIFICADA','Tu tarea ''Modelo entidad-relaci¾n'' en ''Base de Datos I'' fue calificada con 85.0/100.','2026-09-25 03:56:31.812433',1,1,1,3);INSERT INTO "notificaciones" VALUES(2,'RETROALIMENTACION','Tu docente agreg¾ retroalimentaci¾n a la tarea ''Modelo entidad-relaci¾n'': "Buen trabajo. La estructura de la base de datos estß correctamente planteada. Se..."','2026-09-25 03:56:31.844099',1,1,1,3);INSERT INTO "notificaciones" VALUES(3,'CALIFICADA','Tu tarea ''Modelo entidad-relaci¾n'' en ''Base de Datos I'' fue calificada con 90.0/100.','2026-09-25 03:56:31.918324',0,1,1,4);INSERT INTO "notificaciones" VALUES(4,'RETROALIMENTACION','Tu docente agreg¾ retroalimentaci¾n a la tarea ''Modelo entidad-relaci¾n'': "Excelente anßlisis relacional y excelente definici¾n de claves forßneas compuest..."','2026-09-25 03:56:31.949700',0,1,1,4);INSERT INTO "notificaciones" VALUES(5,'CALIFICADA','Tu tarea ''Dise±o de Clases con Polimorfismo y Herencia'' en ''Programaci¾n'' fue calificada con 92.0/100.','2026-09-25 03:56:32.012954',1,2,4,3);INSERT INTO "notificaciones" VALUES(6,'RETROALIMENTACION','Tu docente agreg¾ retroalimentaci¾n a la tarea ''Dise±o de Clases con Polimorfismo y Herencia'': "Excelente dise±o orientado a objetos. Muy buena separaci¾n de responsabilidades ..."','2026-09-25 03:56:32.044455',1,2,4,3);INSERT INTO "notificaciones" VALUES(7,'CALIFICADA','Tu tarea ''Modelo entidad-relaci¾n'' en ''Base de Datos I'' fue calificada con 85/100.','2026-09-25 03:31:31.679508',1,1,1,3);INSERT INTO "notificaciones" VALUES(8,'RETROALIMENTACION','El docente agreg¾ retroalimentaci¾n a "Modelo entidad-relaci¾n": "Buen trabajo. La estructura de la base de datos estß correctamente planteada..."','2026-09-25 03:31:31.679508',1,1,1,3);INSERT INTO "notificaciones" VALUES(9,'PROXIMA_VENCER','Recordatorio acadÚmico: La tarea ''Dise±o de Base de Datos'' vence el 28/09/2026.','2026-09-24 22:56:31.679508',1,1,2,3);INSERT INTO "notificaciones" VALUES(10,'NUEVA_TAREA','Se public¾ una nueva tarea: ''Optimizaci¾n con MÚtodo Simplex'' en Investigaci¾n Operativa.','2026-09-24 03:56:31.679508',1,4,7,3);INSERT INTO "notificaciones" VALUES(11,'ENTREGA_CONFIRMADA','Carlos G¾mez present¾ la tarea ''Diagramas de Casos de Uso y Especificaci¾n Narrativa''.','2026-09-24 13:56:31.679508',0,3,6,1);INSERT INTO "notificaciones" VALUES(12,'INVITACION_ESPACIO','Te has unido a lenguaje.','2026-09-25 23:29:01.842606',1,5,NULL,3);CREATE TABLE "progreso_academico" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "promedio" real NOT NULL, "tareas_entregadas" integer NOT NULL, "tareas_pendientes" integer NOT NULL, "tareas_calificadas" integer NOT NULL, "tareas_vencidas" integer NOT NULL, "porcentaje_cumplimiento" real NOT NULL, "estudiante_id" bigint NOT NULL UNIQUE REFERENCES "core_estudiante" ("id") DEFERRABLE INITIALLY DEFERRED);INSERT INTO "progreso_academico" VALUES(1,88.5,3,4,2,0,42.9,1);INSERT INTO "progreso_academico" VALUES(2,90.0,1,6,1,1,14.3,2);INSERT INTO "progreso_academico" VALUES(3,0.0,0,6,0,2,0.0,3);CREATE TABLE "retroalimentaciones" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "comentario" text NOT NULL, "fecha" datetime NOT NULL, "calificacion_id" bigint NOT NULL UNIQUE REFERENCES "calificaciones" ("id") DEFERRABLE INITIALLY DEFERRED);INSERT INTO "retroalimentaciones" VALUES(1,'Buen trabajo. La estructura de la base de datos estß correctamente planteada. Se recomienda mejorar la normalizaci¾n de la tabla de estudiantes.','2026-09-25 03:31:31.679508',1);INSERT INTO "retroalimentaciones" VALUES(2,'Excelente anßlisis relacional y excelente definici¾n de claves forßneas compuestas.','2026-09-25 01:56:31.679508',2);INSERT INTO "retroalimentaciones" VALUES(3,'Excelente dise±o orientado a objetos. Muy buena separaci¾n de responsabilidades y tests exhaustivos.','2026-09-24 03:56:31.679508',3);CREATE TABLE "rubricas" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "nombre" varchar(200) NOT NULL, "descripcion" text NOT NULL, "puntaje_total" integer NOT NULL, "fecha_creacion" datetime NOT NULL, "docente_id" bigint NOT NULL REFERENCES "core_docente" ("id") DEFERRABLE INITIALLY DEFERRED);DELETE FROM "sqlite_sequence";INSERT INTO "sqlite_sequence" VALUES('django_migrations',24);INSERT INTO "sqlite_sequence" VALUES('django_content_type',33);INSERT INTO "sqlite_sequence" VALUES('auth_permission',132);INSERT INTO "sqlite_sequence" VALUES('auth_group',0);INSERT INTO "sqlite_sequence" VALUES('calificaciones',3);INSERT INTO "sqlite_sequence" VALUES('django_admin_log',0);INSERT INTO "sqlite_sequence" VALUES('espacios',6);INSERT INTO "sqlite_sequence" VALUES('miembros_espacio',12);INSERT INTO "sqlite_sequence" VALUES('tareas',7);INSERT INTO "sqlite_sequence" VALUES('materiales',3);INSERT INTO "sqlite_sequence" VALUES('entregas',4);INSERT INTO "sqlite_sequence" VALUES('progreso_academico',3);INSERT INTO "sqlite_sequence" VALUES('notificaciones',12);INSERT INTO "sqlite_sequence" VALUES('retroalimentaciones',3);INSERT INTO "sqlite_sequence" VALUES('core_docente',3);INSERT INTO "sqlite_sequence" VALUES('core_estudiante',3);INSERT INTO "sqlite_sequence" VALUES('invitaciones_espacio',5);INSERT INTO "sqlite_sequence" VALUES('colegios',2);INSERT INTO "sqlite_sequence" VALUES('docente_colegio',2);INSERT INTO "sqlite_sequence" VALUES('cursos',2);INSERT INTO "sqlite_sequence" VALUES('materias',2);INSERT INTO "sqlite_sequence" VALUES('usuarios',7);INSERT INTO "sqlite_sequence" VALUES('challenges',3);INSERT INTO "sqlite_sequence" VALUES('user_challenges',3);CREATE TABLE "tareas" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "titulo" varchar(200) NOT NULL, "descripcion" text NOT NULL, "indicaciones" text NOT NULL, "puntaje_maximo" integer NOT NULL, "fecha_publicacion" datetime NOT NULL, "fecha_limite" datetime NOT NULL, "estado" varchar(20) NOT NULL, "docente_id" bigint NOT NULL REFERENCES "core_docente" ("id") DEFERRABLE INITIALLY DEFERRED, "espacio_id" bigint NOT NULL REFERENCES "espacios" ("id") DEFERRABLE INITIALLY DEFERRED, "rubrica_id" bigint NULL REFERENCES "rubricas" ("id") DEFERRABLE INITIALLY DEFERRED);INSERT INTO "tareas" VALUES(1,'Modelo entidad-relaci¾n','Elaborar el diagrama entidad-relaci¾n para el caso de estudio de la clÝnica mÚdica.','1. Identificar entidades principales y atributos clave.
2. Establecer cardinalidades (1:1, 1:N, N:M).
3. Especificar claves primarias y forßneas.
4. Formato de entrega: PDF formal.',100,'2026-09-13 03:56:31.679508','2026-09-21 03:56:31.679508','PUBLICADA',1,1,NULL);INSERT INTO "tareas" VALUES(2,'Dise±o de Base de Datos','Normalizaci¾n hasta 3ra Forma Normal (3FN) y script DDL de creaci¾n de tablas.','Aplicar las reglas de 1FN, 2FN y 3FN al modelo ER aprobado. Generar el script SQL DDL con restricciones de integridad referencial.',100,'2026-09-20 03:56:31.679508','2026-09-29 03:56:31.679508','PUBLICADA',1,1,NULL);INSERT INTO "tareas" VALUES(3,'Consultas SQL y Optimizaci¾n de ═ndices','Redacci¾n de consultas complejas con JOINs m·ltiples, subconsultas y funciones de ventana.','Resolver las 10 consultas del documento adjunto y medir el plan de ejecuci¾n con EXPLAIN ANALYZE.',100,'2026-09-23 03:56:31.679508','2026-10-05 03:56:31.679508','PUBLICADA',1,1,NULL);INSERT INTO "tareas" VALUES(4,'Dise±o de Clases con Polimorfismo y Herencia','Implementar el sistema de gesti¾n de cuentas bancarias aplicando encapsulamiento y polimorfismo.','Crear jerarquÝa de clases Cuenta, CuentaAhorros, CuentaCorriente con cßlculo de comisiones e interfaces de auditorÝa.',100,'2026-09-15 03:56:31.679508','2026-09-23 03:56:31.679508','PUBLICADA',2,2,NULL);INSERT INTO "tareas" VALUES(5,'Implementaci¾n del Patr¾n Factory y Singleton','Desarrollar un generador de conexiones de bases de datos multiplataforma aplicando Factory Method.','Suministrar tests unitarios para verificar la instanciaci¾n ·nica y la correcta creaci¾n de drivers.',100,'2026-09-22 03:56:31.679508','2026-10-01 03:56:31.679508','PUBLICADA',2,2,NULL);INSERT INTO "tareas" VALUES(6,'Diagramas de Casos de Uso y Especificaci¾n Narrativa','Modelar los casos de uso principales para el sistema de facturaci¾n electr¾nica.','Incluir diagrama de casos de uso general y especificaciones detalladas para "Emitir Factura" y "Consultar Stock".',100,'2026-09-18 03:56:31.679508','2026-09-27 03:56:31.679508','PUBLICADA',1,3,NULL);INSERT INTO "tareas" VALUES(7,'Optimizaci¾n con MÚtodo Simplex y Anßlisis de Sensibilidad','Resolver el problema de mezcla de producci¾n ¾ptima minimizando costos de transporte.','Presentar la tabla simplex paso a paso e interpretar los precios sombra y rango de viabilidad.',100,'2026-09-21 03:56:31.679508','2026-10-03 03:56:31.679508','PUBLICADA',2,4,NULL);CREATE TABLE "user_badges" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "fecha_obtencion" datetime NOT NULL, "badge_id" bigint NOT NULL REFERENCES "badges" ("id") DEFERRABLE INITIALLY DEFERRED, "usuario_id" bigint NOT NULL REFERENCES "usuarios" ("id") DEFERRABLE INITIALLY DEFERRED);CREATE TABLE "user_challenges" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "estado" varchar(20) NOT NULL, "progreso" integer NOT NULL, "meta" integer NOT NULL, "challenge_id" bigint NOT NULL REFERENCES "challenges" ("id") DEFERRABLE INITIALLY DEFERRED, "usuario_id" bigint NOT NULL REFERENCES "usuarios" ("id") DEFERRABLE INITIALLY DEFERRED);INSERT INTO "user_challenges" VALUES(1,'ACTIVO',0,1,1,3);INSERT INTO "user_challenges" VALUES(2,'ACTIVO',0,1,2,3);INSERT INTO "user_challenges" VALUES(3,'ACTIVO',0,1,3,3);CREATE TABLE "usuarios" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "password" varchar(128) NOT NULL, "last_login" datetime NULL, "is_superuser" bool NOT NULL, "username" varchar(150) NOT NULL UNIQUE, "first_name" varchar(150) NOT NULL, "last_name" varchar(150) NOT NULL, "email" varchar(254) NOT NULL, "is_staff" bool NOT NULL, "is_active" bool NOT NULL, "date_joined" datetime NOT NULL, "rol" varchar(20) NOT NULL, "estado" varchar(20) NOT NULL, "telefono" varchar(30) NOT NULL, "avatar_url" varchar(500) NOT NULL, "fecha_creacion" datetime NOT NULL, "coins" integer NOT NULL, "level" integer NOT NULL, "points" integer NOT NULL);INSERT INTO "usuarios" VALUES(1,'pbkdf2_sha256$600000$TADQYjcS8MaGs5QwHRLmyE$1CWTj1NsyXcNut0Ge+igEFYTIu+xn0O5BHzPOodOQgY=','2026-09-26 01:44:20.432250',0,'prof_juan@edusmart.edu','Juan','PÚrez','prof_juan@edusmart.edu',0,1,'2026-09-25 03:56:30.190801','DOCENTE','ACTIVO','','https://images.unsplash.com/photo-1534528741775-53994a69daeb?w=150','2026-09-25 03:56:30.467502',0,1,0);INSERT INTO "usuarios" VALUES(2,'pbkdf2_sha256$600000$PF8M4Iv9GsVqcVjHP2W4ei$lpbuVQzYQ/5PcdJKeKY/7dI/nCJmUW8kJmDhIMIMQSI=',NULL,0,'prof_maria@edusmart.edu','MarÝa','L¾pez','prof_maria@edusmart.edu',0,1,'2026-09-25 03:56:30.467502','DOCENTE','ACTIVO','','https://images.unsplash.com/photo-1573496359142-b8d87734a5a2?w=150','2026-09-25 03:56:30.742842',0,1,0);INSERT INTO "usuarios" VALUES(3,'pbkdf2_sha256$600000$k76TXgFKLhXfA2ywDxvCX4$NSNQSesYy04CLv/Lu/a++8WsWaTj2IAQIwZS1tMUL1o=','2026-09-26 01:43:30.932490',0,'carlos.gomez@edusmart.edu','Carlos','G¾mez','carlos.gomez@edusmart.edu',0,1,'2026-09-25 03:56:30.754645','ESTUDIANTE','ACTIVO','','https://images.unsplash.com/photo-1539571696357-5a69c17a67c6?w=150','2026-09-25 03:56:31.041938',0,1,0);INSERT INTO "usuarios" VALUES(4,'pbkdf2_sha256$600000$luGPmKyMOEjOli1sxlL0KM$MyS/MFY7u4E+WkyPueqlKbofAivKlIzCyv9s9E6i71c=','2026-09-25 05:39:55.753968',0,'ana.flores@edusmart.edu','Ana','Flores','ana.flores@edusmart.edu',0,1,'2026-09-25 03:56:31.059653','ESTUDIANTE','ACTIVO','','https://images.unsplash.com/photo-1494790108377-be9c29b29330?w=150','2026-09-25 03:56:31.310472',0,1,0);INSERT INTO "usuarios" VALUES(5,'pbkdf2_sha256$600000$XY2ilSjVRE1MEa7Q3nBQNX$qNE2qvbfLjzMSCMOv+mj2CMU8cYZD5lO9Vc+JWokYQo=',NULL,0,'david.morales@edusmart.edu','David','Morales','david.morales@edusmart.edu',0,1,'2026-09-25 03:56:31.326551','ESTUDIANTE','ACTIVO','','https://images.unsplash.com/photo-1507003211169-0a1dd7228f2d?w=150','2026-09-25 03:56:31.592507',0,1,0);INSERT INTO "usuarios" VALUES(6,'pbkdf2_sha256$600000$Lq4bGt6MIlFqIa5ECYaDpq$YCBxaRzdRwJVedDNa4yZvMDRuhVaVwjEMustkB2uIlc=','2026-09-26 00:15:36.488163',0,'edmar02@gmail.com','Edmar','Quispe','edmar02@gmail.com',0,1,'2026-09-26 00:15:36.209745','DOCENTE','ACTIVO','','https://api.dicebear.com/7.x/initials/svg?seed=Edmar+Quispe&backgroundColor=1e3a8a,0284c7,0d9488','2026-09-26 00:15:36.456795',0,1,0);INSERT INTO "usuarios" VALUES(7,'pbkdf2_sha256$600000$qgKflzzlhRvUtH19a1FraG$DWzRxjM82dMMF0VV3rJ7ZDeGXNzkwc8snuuNlizAFjI=',NULL,1,'admin','','','admin@example.com',1,1,'2026-09-26 00:32:14.211027','ESTUDIANTE','ACTIVO','','','2026-09-26 00:32:14.473523',0,1,0);CREATE TABLE "usuarios_groups" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "usuario_id" bigint NOT NULL REFERENCES "usuarios" ("id") DEFERRABLE INITIALLY DEFERRED, "group_id" integer NOT NULL REFERENCES "auth_group" ("id") DEFERRABLE INITIALLY DEFERRED);CREATE TABLE "usuarios_user_permissions" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "usuario_id" bigint NOT NULL REFERENCES "usuarios" ("id") DEFERRABLE INITIALLY DEFERRED, "permission_id" integer NOT NULL REFERENCES "auth_permission" ("id") DEFERRABLE INITIALLY DEFERRED);CREATE UNIQUE INDEX "django_content_type_app_label_model_76bd3d3b_uniq" ON "django_content_type" ("app_label", "model");CREATE UNIQUE INDEX "auth_group_permissions_group_id_permission_id_0cd325b0_uniq" ON "auth_group_permissions" ("group_id", "permission_id");CREATE INDEX "auth_group_permissions_group_id_b120cbf9" ON "auth_group_permissions" ("group_id");CREATE INDEX "auth_group_permissions_permission_id_84c5c92e" ON "auth_group_permissions" ("permission_id");CREATE UNIQUE INDEX "auth_permission_content_type_id_codename_01ab375a_uniq" ON "auth_permission" ("content_type_id", "codename");CREATE INDEX "auth_permission_content_type_id_2f476e4b" ON "auth_permission" ("content_type_id");CREATE UNIQUE INDEX "usuarios_groups_usuario_id_group_id_a66c5ef3_uniq" ON "usuarios_groups" ("usuario_id", "group_id");CREATE INDEX "usuarios_groups_usuario_id_1132ca50" ON "usuarios_groups" ("usuario_id");CREATE INDEX "usuarios_groups_group_id_18c61092" ON "usuarios_groups" ("group_id");CREATE UNIQUE INDEX "usuarios_user_permissions_usuario_id_permission_id_474b33a5_uniq" ON "usuarios_user_permissions" ("usuario_id", "permission_id");CREATE INDEX "usuarios_user_permissions_usuario_id_232fd58d" ON "usuarios_user_permissions" ("usuario_id");CREATE INDEX "usuarios_user_permissions_permission_id_af615ca1" ON "usuarios_user_permissions" ("permission_id");CREATE INDEX "espacios_docente_id_46c865da" ON "espacios" ("docente_id");CREATE INDEX "tareas_docente_id_e95958f2" ON "tareas" ("docente_id");CREATE INDEX "tareas_espacio_id_6f2dc996" ON "tareas" ("espacio_id");CREATE INDEX "notificaciones_usuario_id_a75f5971" ON "notificaciones" ("usuario_id");CREATE INDEX "core_material_tarea_id_672663bd" ON "materiales" ("tarea_id");CREATE UNIQUE INDEX "entregas_tarea_id_estudiante_id_db767005_uniq" ON "entregas" ("tarea_id", "estudiante_id");CREATE INDEX "entregas_estudiante_id_169eab47" ON "entregas" ("estudiante_id");CREATE INDEX "entregas_tarea_id_f4528ddc" ON "entregas" ("tarea_id");CREATE INDEX "calificaciones_docente_id_d99bb4ad" ON "calificaciones" ("docente_id");CREATE UNIQUE INDEX "miembros_espacio_espacio_id_estudiante_id_453b2335_uniq" ON "miembros_espacio" ("espacio_id", "estudiante_id");CREATE INDEX "miembros_espacio_espacio_id_4115e780" ON "miembros_espacio" ("espacio_id");CREATE INDEX "miembros_espacio_estudiante_id_971a7a1f" ON "miembros_espacio" ("estudiante_id");CREATE INDEX "django_admin_log_content_type_id_c4bce8eb" ON "django_admin_log" ("content_type_id");CREATE INDEX "django_admin_log_user_id_c564eba6" ON "django_admin_log" ("user_id");CREATE INDEX "django_session_expire_date_a5c62663" ON "django_session" ("expire_date");CREATE UNIQUE INDEX "cursos_colegio_id_grado_paralelo_anio_lectivo_338df944_uniq" ON "cursos" ("colegio_id", "grado", "paralelo", "anio_lectivo");CREATE INDEX "cursos_colegio_id_daa6783f" ON "cursos" ("colegio_id");CREATE INDEX "rubricas_docente_id_8c6a5156" ON "rubricas" ("docente_id");CREATE INDEX "materias_curso_id_3c59d9c7" ON "materias" ("curso_id");CREATE INDEX "materias_docente_id_c2131fdc" ON "materias" ("docente_id");CREATE INDEX "invitaciones_curso_id_f9df2543" ON "invitaciones" ("curso_id");CREATE INDEX "invitaciones_docente_id_f312ccee" ON "invitaciones" ("docente_id");CREATE INDEX "historial_calificaciones_calificacion_id_4d81b226" ON "historial_calificaciones" ("calificacion_id");CREATE INDEX "historial_calificaciones_docente_id_e481aff8" ON "historial_calificaciones" ("docente_id");CREATE INDEX "criterios_rubrica_rubrica_id_53474ac8" ON "criterios_rubrica" ("rubrica_id");CREATE INDEX "espacios_colegio_id_42890a8b" ON "espacios" ("colegio_id");CREATE INDEX "espacios_curso_id_0f84169a" ON "espacios" ("curso_id");CREATE INDEX "espacios_materia_id_360a84c0" ON "espacios" ("materia_id");CREATE INDEX "tareas_rubrica_id_12181501" ON "tareas" ("rubrica_id");CREATE UNIQUE INDEX "estudiante_curso_estudiante_id_curso_id_ea11ad9e_uniq" ON "estudiante_curso" ("estudiante_id", "curso_id");CREATE INDEX "estudiante_curso_curso_id_b23bc4b9" ON "estudiante_curso" ("curso_id");CREATE INDEX "estudiante_curso_estudiante_id_f213299f" ON "estudiante_curso" ("estudiante_id");CREATE UNIQUE INDEX "docente_colegio_docente_id_colegio_id_b247b19d_uniq" ON "docente_colegio" ("docente_id", "colegio_id");CREATE INDEX "docente_colegio_colegio_id_1c37b87d" ON "docente_colegio" ("colegio_id");CREATE INDEX "docente_colegio_docente_id_b7b0181d" ON "docente_colegio" ("docente_id");CREATE INDEX "invitaciones_espacio_creado_por_id_177bbe81" ON "invitaciones_espacio" ("creado_por_id");CREATE INDEX "invitaciones_espacio_espacio_id_d32b1f9b" ON "invitaciones_espacio" ("espacio_id");CREATE INDEX "coin_transactions_usuario_id_120a32e4" ON "coin_transactions" ("usuario_id");CREATE UNIQUE INDEX "user_challenges_usuario_id_challenge_id_4f795aab_uniq" ON "user_challenges" ("usuario_id", "challenge_id");CREATE INDEX "user_challenges_challenge_id_181ec5ed" ON "user_challenges" ("challenge_id");CREATE INDEX "user_challenges_usuario_id_932e5073" ON "user_challenges" ("usuario_id");CREATE UNIQUE INDEX "user_badges_usuario_id_badge_id_595ebb9d_uniq" ON "user_badges" ("usuario_id", "badge_id");CREATE INDEX "user_badges_badge_id_80400ca4" ON "user_badges" ("badge_id");CREATE INDEX "user_badges_usuario_id_b9de5642" ON "user_badges" ("usuario_id");COMMIT;
